.bg {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    background: #313131;
    
  }
  
  /************* Botones Landing, Create  ***************/
  .bgHyC {
    padding: 3px;
    display: flex;
    justify-content: flex-start;
  }
  
  .bgHyC button {
    border-radius: 5px;
    margin: 2px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    height: 35px;
    width: 120px;
    padding: 5px;
    text-align: center;
    border: 1px solid #8f8e8e;
    font-family: "DM Sans", sans-serif;
    background: rgba(127, 219, 21, 0.69);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.45);
    font-size: 15px;
    font-weight: bold;
  }
  
  .bgHyC button:hover {
    cursor: pointer;
    transition: background-color 0.5s;
    background-color: rgb(190, 179, 18);
    color: black;
    font-weight: bold;
    border: 1px solid #313131;
  }